ADMIN_PASSWORD=your_secure_dashboard_password
OUTLOOK_EMAIL=your_outlook_email@outlook.com
OUTLOOK_PASSWORD=your_outlook_app_password
PERSONAL_EMAIL=your_notification_email@domain.com
SUPERVISOR_EMAIL=supervisor_email@domain.com
HOURLY_RATE=50.00
SQUARE_TARGET_URL=https://squareup.com/dashboard/
SESSION_SECRET_KEY=generate_a_random_secret_string